package pages

import (
	"GabeMeister/yer-cli/analyzer"
	"GabeMeister/yer-cli/presentation/views/components"
)

templ ActiveAuthors(multiRepoRecap analyzer.MultiRepoRecap) {
	@components.Slide() {
		<div class="w-2/3 h-3/4">
			<canvas id="chart-js-canvas"></canvas>
		</div>
	}
}
