package presentation_views_pages

import (
	"GabeMeister/yer-cli/analyzer"
	components "GabeMeister/yer-cli/presentation/views/components"
)

templ AvgMergesToMasterPerDayCurrYear(recap analyzer.Recap) {
	@components.Slide() {
		@components.BigFloat(recap.AvgMergesToMasterPerDayCurrYear)
		<div class="text-2xl mt-6">average merges per day to master</div>
	}
}
