package pages 

import "GabeMeister/yer-cli/presentation/views/components"

templ ButtonsPage() {
	<button
		id="gabe"
		class="btn lg green"
		hx-post="/example"
		hx-swap="outerHTML"
	>
		<div class="flex gap-3 justify-center items-center">
			<span>Click Me 4</span>
			<i class="fa-solid fa-plus"></i>
		</div>
		@components.LoadingSpinner()
	</button>
}
