package presentation_views_pages

import (
	"GabeMeister/yer-cli/analyzer"
	components "GabeMeister/yer-cli/presentation/views/components"
	"fmt"
)

templ CommonlyChangedFiles(recap analyzer.Recap) {
	@components.Slide() {
		<div class="yes">
			for _, file := range recap.CommonlyChangedFiles {
				<div>{ file.File }</div>
				<div>{ fmt.Sprintf("%d", file.Count) }</div>
			}
		</div>
	}
}
