package presentation_views_pages

import (
	"GabeMeister/yer-cli/analyzer"
	presentation_helpers "GabeMeister/yer-cli/presentation/helpers"
)

templ EngineerCommitsOverTimeCurrYear(commitsOverTime []analyzer.TotalCommitCount) {
	<div>
		<div id="bar-chart-container" data-value={ presentation_helpers.Json(commitsOverTime) } class="p-12"></div>
	</div>
}
