package pages

import (
	"GabeMeister/yer-cli/analyzer"
	helpers "GabeMeister/yer-cli/presentation/helpers"
	components "GabeMeister/yer-cli/presentation/views/components"
)

templ AuthorCountCurrYear(recap analyzer.Recap) {
	@components.Slide() {
		@components.BigNumber(recap.AuthorCountCurrYear)
		<div class="mt-12"></div>
		@components.NextButton(helpers.GetNextButtonLink("/author-count-curr-year", recap))
	}
}
