package pages 

templ FinishSetup() {
	<div class="p-24 bg-gray-800 text-white h-screen flex flex-col items-center gap-12">
		<h1 class="h1">Setup Finished!</h1>
		<p>Please close this tab and go back to your terminal to analyze your repos.</p>
	</div>
}
