package presentation_views_pages

import presentation_views_components "GabeMeister/yer-cli/presentation/views/components"

templ Hello(name string, age string) {
	<div>
		<div class="text-violet-500	text-6xl">Hello Page: 3 { name } is { age } years old</div>
		@presentation_views_components.Link("/") {
			<span>Go back home!</span>
		}
	</div>
}
