package presentation_views_pages

import (
	"GabeMeister/yer-cli/analyzer"
	helpers "GabeMeister/yer-cli/presentation/helpers"
	components "GabeMeister/yer-cli/presentation/views/components"
)

templ MostSingleDayCommitsByEngineerCurrYearCommitList(recap analyzer.Recap) {
	@components.Slide() {
		<ul class="mt-6 text-2xl h-[500px] w-[805px] overflow-y-scroll">
			for _, commit := range recap.MostSingleDayCommitsByEngineerCurrYear.Commits {
				<li class="mt-3 font-mono text-wrap">"{ commit }"</li>
			}
		</ul>
		<div class="mt-12"></div>
		@components.NextButton(helpers.GetNextButtonLink("/most-single-day-commits-by-engineer-curr-year-commit-list", recap))
	}
}
