package presentation_views_pages

import presentation_helpers "GabeMeister/yer-cli/presentation/helpers"

templ NumCommitsCurrYear(count int) {
	<div>
		<div>Number of commits made this year: { presentation_helpers.WithCommas(count) }</div>
	</div>
}
