package presentation_views_pages

templ RepoNotFound() {
	<div class="flex justify-center p-12">
		<div class="mt-32 text-2xl font-bitter text-white flex flex-col items-center justify-center gap-8 w-1/2 text-center">
			<div>You have not analyzed your repo yet! Please run:</div>
			<pre class="text-yellow-200">./year-end-recap -a</pre>
			<div>
				to analyze your repo, and <i>then</i> you can view your
				stats.
			</div>
		</div>
	</div>
}
