package presentation_views_pages

import (
	"GabeMeister/yer-cli/analyzer"
	helpers "GabeMeister/yer-cli/presentation/helpers"
	components "GabeMeister/yer-cli/presentation/views/components"
)

templ TotalLinesOfCodeCurrYear(recap analyzer.Recap) {
	@components.Slide() {
		@components.BigNumber(recap.TotalLinesOfCodeCurrYear)
		<div class="mt-12"></div>
		@components.NextButton(helpers.GetNextButtonLink("/total-lines-of-code-curr-year", recap))
	}
}
