package presentation_views_pages

import (
	"GabeMeister/yer-cli/analyzer"
	components "GabeMeister/yer-cli/presentation/views/components"
	"fmt"
)

templ TotalLinesOfCodeCurrYear(recap analyzer.Recap) {
	@components.Slide() {
		@components.BigNumber(recap.TotalLinesOfCodeCurrYear)
		<div class="mt-6">Total Lines of Code in { fmt.Sprintf("%d", analyzer.CURR_YEAR) }</div>
	}
}
