package presentation_views

templ Hello(name string, age string) {
	<head>
		<link rel="stylesheet" href="/css/styles.css"/>
	</head>
	<body>
		<div class="text-violet-500	 mt-12 text-6xl">Yessir!! { name } is { age } years old</div>
	</body>
}
