package ConfigSetupPage 

import "GabeMeister/yer-cli/presentation/views/components"

type DirectoryListModalProps struct {
	BaseDir string
	Dirs    []string
	Error   string
}

templ DirectoryListModal(props DirectoryListModalProps) {
	@components.Modal(components.ModalProps{
		Id:    "dir-list-modal",
		Title: "Select Repo",
	}) {
		@DirectoryListForm(DirectoryListFormProps{
			BaseDir: props.BaseDir,
			Dirs:    props.Dirs,
			Error:   props.Error,
		})
	}
}
