package ConfigSetupPage 

import "GabeMeister/yer-cli/presentation/views/components"

templ DirectoryListModal(baseDir string, dirs []string) {
	@components.Modal(components.ModalProps{
		Id:    "dir-list-modal",
		Title: "Select Repo",
	}) {
		@DirectoryListForm(DirectoryListFormProps{
			Dirs:    dirs,
			BaseDir: baseDir,
		})
	}
}
