package ConfigSetupPage 

import "GabeMeister/yer-cli/presentation/views/components"

type DuplicateAuthorModalProps struct {
	UngroupedAuthors []string
}

templ DuplicateAuthorModal(props DuplicateAuthorModalProps) {
	@components.Modal(components.ModalProps{
		Id:    "duplicate-author-modal",
		Title: "Duplicate Authors",
	}) {
		@DuplicateAuthorForm(DuplicateAuthorFormProps{
			UngroupedAuthors: props.UngroupedAuthors,
		})
	}
}
