package ConfigSetupPage 

type DuplicateAuthorFormProps struct {
	UngroupedEngineers []string
}

templ DuplicateAuthorForm(props DuplicateAuthorFormProps) {
	// TODO: make this json stringified
	<div>This is the form <pre></pre></div>
}
