package ConfigSetupPage 

type ExcludeAuthorsProps struct {
	Authors []string
}

templ ExcludeAuthors(props ExcludeAuthorsProps) {
	<div
		id="exclude-authors"
	>
		<div class="font-medium">Exclude Authors</div>
		for _, author := range props.Authors {
			<div>{ author }</div>
		}
	</div>
}
