package components 

templ LoadingSpinner() {
	<div
		id="loading-spinner"
		class="htmx-indicator absolute top-0 left-0 right-0 bottom-0 flex justify-center items-center bg-inherit rounded-md"
	>
		<i
			class="text-white fa-solid fa-circle-notch fa-xs animate-spin"
		></i>
	</div>
}
