package components

templ Slide() {
	<div data-component-id="Slide" class="h-screen max-h-screen min-w-screen bg-gray-800  ">
		<div class="h-5/6 flex flex-col items-center gap-3 xl:gap-12">
			{ children... }
		</div>
	</div>
}
