package components 

templ Title() {
	<h1 class="text-5xl py-6 font-bold text-yellow-300 max-w-screen text-wrap flex items-center justify-center text-center px-16 leading-tight">
		{ children... }
	</h1>
}
