package components 

type ToastProps struct {
	Message string
}

templ Toast(props ToastProps) {
	<div
		id="toast"
		class="toast fixed bottom-1 left-1 text-xl text-white bg-green-500 p-6 rounded-md mb-3 ml-3 min-w-[300px] shadow-2xl font-bold"
		hx-swap-oob="true"
	>
		{ props.Message }
	</div>
}
