package components 

type ToastProps struct {
	Message string
}

templ Toast(props ToastProps) {
	<div
		id="toast"
		class="toast fixed bottom-1 left-1 text-gray-500 bg-white p-6 rounded-sm mb-3 ml-3 min-w-[250px] shadow-2xl font-semibold"
		hx-swap-oob="true"
	>
		{ props.Message }
	</div>
}
